<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download</title>
    <link rel="stylesheet" href="/css/download.css">
</head>
<body>
    <section class="download">
        <% if(locals.error){ %>
        <h4><%= locals.error %></h4>
        <% } else { %>
        <h2>File is ready to download 😎</h2>
        <div class="download-btn">
            <a href="<%= downloadURL %>">Download</a>
        </div>
        <% } %>
    </section>
</body>
</html>